:root {
  /* primary */
  --prm-clr-100: hsl(75, 94%, 57%);

  /* neutral */
  --ntrl-clr-100: hsl(0, 0%, 100%);
  --ntrl-clr-200: hsl(0, 0%, 20%);
  --ntrl-clr-300: hsl(0, 0%, 12%);
  --ntrl-clr-400: hsl(0, 0%, 8%);

  --ff-reg: 'Inter-Regular', sans-serif;
  --ff-sm: 'Inter-SemiBold', sans-serif;
  --ff-bold: 'Inter-Bold', sans-serif;

  --fs-def: 0.875rem; /* 14px */

  --ff-body: var(--ff-reg);
  --fs-body: var(--fs-def);
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('assets/fonts/static/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('assets/fonts/static/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration: none;
}

body,
.profile-card,
.profile-card .header,
.profile-links .links {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  min-height: 100vh;

  font-family: var(--ff-body);
  font-size: var(--fs-body);

  background-color: var(--ntrl-clr-400);
  color: var(--ntrl-clr-100);
}

main {
  width: 100%;
}

/* profile container */
.profile-card {
  flex-direction: column;
  gap: 1.9rem;
  width: min(100% - 2rem, 24rem);
  margin-inline: auto;
  padding: 1.6rem;
  background-color: var(--ntrl-clr-300);
  border-radius: 0.8rem;
}

/* header */
.profile-card .header {
  flex-direction: column;
  gap: 1.8rem;
}

.header .profile-main-details {
  text-align: center;
}

.header .profile-main-details .name {
  font-size: 1.5rem;
  font-family: var(--ff-sm);
}

.header .profile-main-details .location {
  font-family: var(--ff-sm);
  color: var(--prm-clr-100);
  margin-top: 0.5rem;
}

.profile-card .header .profile-image {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

/* links */
.profile-links {
  width: 100%;
  text-align: center;
}

.profile-links .links {
  flex-direction: column;
  gap: 0.9rem;
  margin-top: 1.3rem;
}

.profile-links .links a {
  width: 100%;
  padding: 0.93rem;
  border-radius: 0.5rem;
  background-color: var(--ntrl-clr-200);

  text-align: center;
  color: var(--ntrl-clr-100);
  /* font-family: var(--ff-bold); */
  font-family: var(--ff-sm);
}

.profile-links .links a:hover {
  background-color: var(--prm-clr-100);
  color: var(--ntrl-clr-400);
}

@media screen and (min-width: 425px){
  .profile-card {
    padding: 2.5rem;
  }
}
