:root {
  //<<< colors >>>
  //--- primary
  --lg: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --h-lg: linear-gradient(
    to right,
    hsla(236, 72%, 79%, 0.507),
    hsla(237, 63%, 64%, 0.514)
  );

  //--- neutral
  --clr-100: hsl(240, 78%, 98%);
  --clr-200: hsl(234, 14%, 74%);
  --clr-300: hsl(233, 13%, 49%);
  --clr-400: hsl(232, 13%, 33%);

  //<<< font family >>>
  --ff-montserrat: 'Montserrat', sans-serif;

  --fw-100: 400;
  --fw-200: 700;

  --ff-body: var(--ff-montserrat);

  --debug: 1px solid #333;
}

body {
  position: relative;
  font-family: var(--ff-body);
  background: var(--clr-100) url(/pricing-component-with-toggle/images/bg-top.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top -1.8rem right -10.55rem;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}