@use '../abstracts/' as *;

.price__containers {
  width: 100%;

  .flex_container {
    position: relative;
    width: 100%;
    @include d-flex();
    flex-direction: column;
    gap: 2rem;

    :not(:nth-child(2)) {
      .features {
        p:not(:nth-child(2)) {
          border-top: 1px solid hsla(234, 14%, 74%, 0.681);
          border-bottom: 1px solid hsla(234, 14%, 74%, 0.681);
        }
      }
    }

    .card {
      @include d-flex();
      flex-direction: column;
      text-align: center;
      width: min(100% - 0rem, 26rem);
      padding: 2rem;
      border-radius: 0.5rem;
      background-color: var(--clr-100);
      background-color: white;
      box-shadow: 1px 1px 30px hsla(234, 13%, 49%, 0.205);

      & > * {
        width: 100%;  
      }

      .level,
      .price {
        font-weight: var(--fw-200);
      }

      .level {
        color: var(--clr-300);
        margin-bottom: 1rem;
      }

      .price {
        font-size: 4rem;
        color: var(--clr-400);
      }

      .features {
        margin-block-start: 1.5rem;

        p {
          font-weight: var(--fw-200);
          color: var(--clr-300);
          width: 100%;
          padding-block: 1rem;
          // outline: var(--debug);
        }
      }

      button {
        outline: 0;
        border: 0;
        background-color: transparent;

        width: 100%;
        padding-block: 0.8rem;
        margin-top: 2rem;
        // background: var(--lg);
        border-radius: 0.5rem;
        color: var(--clr-100);
        text-transform: uppercase;
        font-weight: var(--fw-200);
        transition: 0.3s ease-in-out;
        cursor: pointer;
      }

      &:nth-child(1) button,
      &:nth-child(3) button {
        background: var(--lg);
        &:hover {
          background: transparent;
          color: hsl(237, 63%, 64%);
          outline: 1px solid hsl(237, 63%, 64%);
        }
      }
    }

    .card:nth-child(2) {
      background: linear-gradient(
        to bottom,
        hsl(236, 72%, 79%) -60%,
        hsl(237, 63%, 64%)
      );

      .level,
      .price {
        color: var(--clr-100);
      }

      .features {
        p {
          color: var(--clr-100);
          border-top: 1px solid var(--clr-200);
          // border-bottom: 1px solid var(--clr-100);
        }
        p:nth-child(3) {
          border-bottom: 1px solid var(--clr-200);
        }
      }

      button {
        color: hsl(237, 63%, 64%);
        background-color: var(--clr-100);
        

        &:hover {
          background-color: transparent;
          color: var(--clr-100);
          outline: 1px solid var(--clr-100);
        }
      }
    }
  }
}

@include md {
  .price__containers {
    .flex_container {
      flex-direction: row;
      gap: 0;

      .card:nth-child(2) {
        // margin-left: 2rem;
        height: 480px;
      }
    }
  }
}
